body{
    background-color: rgb(211, 255, 255);
}

form {

    display: flex;
    flex-direction: column;
}

.row1, .row2, .row3 {
    display: flex;
    flex-direction: row;
    
}


.labeltitulo {
    display:flex ;
    flex-direction: row;
}
#peso{
    width: 60px;
}


