/* Estilos para la tabla ejercicio 2.2 */
.tabla-css {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1em;
    font-family: Arial, sans-serif;
}

.tabla-css th,
.tabla-css td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

/* Estilos para las filas impares */
.tabla-css tr:nth-child(odd) {
    background-color: #f2f2f2;
}

/* Estilos para las filas pares */
.tabla-css tr:nth-child(even) {
    background-color: #ffffff;
}

/* Estilos para el encabezado de la tabla */
.tabla-css th {
    background-color: #4CAF50;
    color: white;
}
.titulotabla {
    text-align: center;
    color: #007bff;
    margin-bottom: 20px; /* Espaciado inferior para separar el título de la tabla */
}


/* Para el ejercicio de pares e impares */

.par {
    color: blue;
    
}

.impar {
    color: red;
    font-weight: bold; /* Negrita para números impares */
    text-decoration: underline; /* Subrayado para números impares */
}


/* Para el ejercicio 4 */


.bodyejer4 {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.h1ejer4 {
    color: #333;
    text-align: center;
}

.formejer4 {
    text-align: center;
    margin-top: 20px;
}

.selectejer4 {
    padding: 10px;
    font-size: 16px;
}

.inejer4[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.inejer4[type="submit"]:hover {
    background-color: #45a049;
}

.h3ejer4 {
    margin-top: 20px;
    text-align: center;
}

.espanol {
    color: #007bff;
    font-weight: bold;
    font-size: large;
    text-align: center;
}

.ingles {
    color: #28a745;
    font-weight: bold;
    font-size: large;
    text-align: center;
}
